<html ng-app="MedicalPictures">

<head>
  <link rel="stylesheet" href="./views/css/foundation.css">
  <link rel="stylesheet" href="./views/css/normalize.css">
  <script src="./views/js/vendor/modernizr.js"></script>
  <script src="./views/angular/angular.js"></script>
  <script src="./views/angular/angular-translate.min.js"></script>
  <script src="./views/angular/angular-file-upload.js"></script>
  <script src="./views/angular/controllers/controllers.js"></script>
  <script src="./views/angular/controllers/internationalization.js"></script>
  <title>{{'PATIENT_VIEW_HEAD_NAME'| translate}}</title>
  <meta content="" charset="UTF-8">
  <style type="text/css">
    .panel {
      overflow: scroll;
      max-height: 400px;
      border-color:  pink;
    }
    .panel h5{
      color:#0080FF;
    }
    h4{
      color:red;
    }
    input.ng-invalid {
      border: 2px solid red
    }
    .panel table {
      width: 100%
    }
    .main-section {
      min-height: 400px;
    }
    textarea {
      min-height: 300px;
    }
    .top-bar .name h1 {
      color: orange;
    }
    .top-bar .right li {
      color: orange;
    }
    .top-bar .right li b {
      color: yellow;
    }
    .icon-bar .item b {
      color: red;
    }
    td {
      border-top: solid 1px #f00;
      border-right: solid 1px #f00;
      border-left: solid 1px #f00;
      border-bottom: 1px solid #f00;
      /* or whatever specific values you prefer */
    }
    .my-modal {
      position: relative !important;
    }
    td a {
      margin: auto;
      display: block;
    }
  </style>
</head>

<body ng-controller="PatientViewController">
  <br>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>{{appName}}</h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#">{{'MENU'| translate}}</a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="name">
          <h1> {{'LOGGED_AS'| translate}} <b> {{loggedUsername}}</b></h1>
        </li>
        <li>
          <a href="#">{{'SETTINGS'| translate}}</a>
        </li>
        <li class="active">
          <a href="/MedicalPictures/Logout">{{'LOGOUT'| translate}}</a>
        </li>
      </ul>
    </section>
  </nav>
  <br>
  <div class="row">
    <div class="large-2 columns">
      <br>
    </div>
    <div class="large-8 columns" align="center">
      <div id="alertMessageDiv">
        <div data-alert class="alert-box success radius">
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
    <div class="large-2 columns">
      <br>
    </div>
  </div>
  <br>
  <div>
    <div class="row">
      <div class="large-12 columns">
        <div class="off-canvas-wrap" data-offcanvas>
          <div class="inner-wrap">
            <nav class="tab-bar">
              <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
              </section>

              <section class="middle tab-bar-section">
                <h1 class="title">{{'BROWSE_PICTURES_AND_DIAGNOSIS' | translate}}</h1>
              </section>

              <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
              </section>
            </nav>

            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                <li>
                  <label>{{'PATIENT' | translate}}</label>
                </li>
                <li>
                  <label>{{'PATIENT_PICTURES' | translate}}</label>
                </li>
                <li ng-repeat="picture in patientPictures"><a ng-click="getPatientPictureWithThumbnail(picture)">{{picture.pictureName}}</a>
                </li>
            </aside>
            <aside class="right-off-canvas-menu">
              <ul class="off-canvas-list">
                <li>
                  <label>{{'DOCTOR_DIAGNOSIS' | translate}}</label>
                </li>
                <li ng-repeat="description in pictureDescriptions" ng-click="setSelectedDescription(description)"><a>{{description.doctor}}</a>
                </li>
              </ul>
            </aside>
            <section class="main-section">
              <div ng-show="selectedPicture!=undefined">
                <div class="row">
                  <div class="large-1 columns">
                    <br>
                  </div>
                  <div class="row">
                    <div class="large-3 columns">
                      <form>
                        <div class="row">
                          <label>{{'PICTURE_THUMBNAIL'|translate}}</label>
                          <a class="th" ng-click="getFullPictureData(selectedPicture)">
                            <img src="{{selectedPicture.thumbnailData}}">
                          </a>
                        </div>
                        <div class="row">
                          <label>{{'PATIENT_NAME' | translate}}</label>
                          <input type="text" readonly ng-model="selectedPicture.patientName"></input>
                        </div>
                        <div class="row">
                          <label>{{'PATIENT_SURNAME' | translate}}</label>
                          <input type="text" readonly ng-model="selectedPicture.patientSurname"></input>
                        </div>
                        <div class="row">
                          <label>{{'PATIENT_AGE' |translate}}</label>
                          <input type="text" readonly ng-model="selectedPicture.patientAge"></input>
                        </div>
                        <div class="row">
                          <label>{{'CAPTURE_DATE' | translate}}</label>
                          <input type="text" readonly ng-model="selectedPicture.captureTimestamp"></input>
                        </div>
                        <div class="row">
                          <label>{{'BODY_PART' | translate}}</label>
                          <input type="text" readonly ng-model="selectedPicture.bodyPart"></input>
                        </div>
                        <div class="row">
                          <label>{{'PICTURE_TYPE' | translate}}</label>
                          <input type="text" readonly ng-model="selectedPicture.pictureType"></input>
                        </div>
                      </form>
                    </div>
                    <div class="large-7 columns" >
                      <h4 ng-show="selectedDescription === undefined">{{'NO_PICTURE_DESCRIPTIONS_FOUND' | translate}}</h4>
                      <div ng-show="selectedDescription !=undefined">
                      <label>{{'PICTURE_DESCRIPTION' | translate}}
                        <div class="panel">
                          <h5>{{selectedDescription.pictureDescription}}</h5>
                        </div>
                      </label>
                      <h8>{{'DIAGNOSIS_AUTHOR' |translate}}:{{selectedDescription.doctor}}</h8><br>
                      <h8>{{'SPECIALIZATION' | translate}}: {{selectedDescription.doctorSpecialization}}</h8>
                      </div>
                    </div>
                    <a class="exit-off-canvas"></a>
                  </div>
                  <div class="large-1 columns">
                    <br>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script src="./views/js/vendor/jquery.js"></script>
    <script src="./views/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
</body>

</html>
