<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>LoginView</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginView</servlet-name>
        <servlet-class>medicalpictures.controller.views.common.LoginView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewManageUsers</servlet-name>
        <servlet-class>medicalpictures.controller.views.admin.AdminViewManageUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>medicalpictures.controller.views.common.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewAddUser</servlet-name>
        <servlet-class>medicalpictures.controller.views.admin.AdminViewAddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewEditUser</servlet-name>
        <servlet-class>medicalpictures.controller.views.admin.AdminViewEditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewDeleteUsers</servlet-name>
        <servlet-class>medicalpictures.controller.views.admin.AdminViewDeleteUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewManagePictureTypes</servlet-name>
        <servlet-class>medicalpictures.controller.views.admin.AdminViewManagePictureTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewManageBodyParts</servlet-name>
        <servlet-class>medicalpictures.controller.views.admin.AdminViewManageBodyParts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechnicianViewAddPictures</servlet-name>
        <servlet-class>medicalpictures.controller.views.technician.TechnicianViewAddPictures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechnicianViewManagePictures</servlet-name>
        <servlet-class>medicalpictures.controller.views.technician.TechnicianViewManagePictures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorViewManageDescriptions</servlet-name>
        <servlet-class>medicalpictures.controller.views.doctor.DoctorViewManageDescriptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientViewManagePictures</servlet-name>
        <servlet-class>medicalpictures.controller.views.patient.PatientViewManagePictures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSettings</servlet-name>
        <servlet-class>medicalpictures.controller.views.common.UserSettings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginView</servlet-name>
        <url-pattern>/LoginView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewManageUsers</servlet-name>
        <url-pattern>/AdminViewManageUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewAddUser</servlet-name>
        <url-pattern>/AdminViewAddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewEditUser</servlet-name>
        <url-pattern>/AdminViewEditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewDeleteUsers</servlet-name>
        <url-pattern>/AdminViewDeleteUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewManagePictureTypes</servlet-name>
        <url-pattern>/AdminViewManagePictureTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewManageBodyParts</servlet-name>
        <url-pattern>/AdminViewManageBodyParts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechnicianViewAddPictures</servlet-name>
        <url-pattern>/TechnicianViewAddPictures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechnicianViewManagePictures</servlet-name>
        <url-pattern>/TechnicianViewManagePictures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorViewManageDescriptions</servlet-name>
        <url-pattern>/DoctorViewManageDescriptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientViewManagePictures</servlet-name>
        <url-pattern>/PatientViewManagePictures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSettings</servlet-name>
        <url-pattern>/UserSettings</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
</web-app>
