<html ng-app="MedicalPictures">

<head>
  <link rel="stylesheet" href="./views/css/foundation.css">
  <link rel="stylesheet" href="./views/css/normalize.css">
  <script src="./views/js/vendor/modernizr.js"></script>
  <script src="./views/angular/angular.js"></script>
  <script src="./views/angular/angular-translate.min.js"></script>
  <script src="./views/angular/angular-file-upload.js"></script>
  <script src="./views/angular/controllers/controllers.js"></script>
  <script src="./views/angular/directives.js"></script>
  <script src="./views/angular/controllers/internationalization.js"></script>
  <title>{{'TECHNICIAN_VIEW_HEAD_NAME'| translate}}</title>
  <meta content="" charset="UTF-8">
  <style type="text/css">
    .my-drop-zone {
      border: dotted 3px grey;
      height: 150px;
    }
    .nv-file-over {
      border: dotted 3px #F79F81;
    }
    /* Default class applied to drop zones on over */

    .another-file-over-class {
      border: dotted 3px green;
    }
    body {
      height: 100%;
    }
    .panel {
      overflow: scroll;
      max-height: 400px;
    }
    .panel table {
      width: 100%
    }
    .panel {
      overflow: scroll;
      max-height: 400px;
    }
    .top-bar .name h1 {
      color: orange;
    }
    .top-bar .right li {
      color: orange;
    }
    .top-bar .right li b {
      color: yellow;
    }
    .icon-bar .item b {
      color: red;
    }
    .top-bar .name h1 a {
      color: orange;
    }
    td {
      border-top: solid 1px #f00;
      border-right: solid 1px #f00;
      border-left: solid 1px #f00;
      border-bottom: 1px solid #f00;
      /* or whatever specific values you prefer */
    }
    .my-modal {
      position: relative !important;
    }
    td a {
      margin: auto;
      display: block;
      word-wrap: break-word;
    }
    .sub-nav a {
      color: black;
    }
  </style>
</head>

<body ng-controller="TechnicianViewAddPicturesController" nv-file-drop="" uploader="uploader">
  <br>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/MedicalPictures/TechnicianViewManagePictures">{{appName}}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#">{{'MENU'| translate}}</a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="name">
          <h1> {{'LOGGED_AS'| translate}} <b> {{loggedUsername}}</b></h1>
        </li>
        <li>
          <a href="/MedicalPictures/UserSettings">{{'SETTINGS'| translate}}</a>
        </li>
        <li class="active">
          <a href="#" ng-click="logoutUser()">{{'LOGOUT'| translate}}</a>
        </li>
      </ul>
    </section>
  </nav>
  <br>
  <div class="row">
    <div class="large-1 columns">
      <br>
    </div>
    <div class="large-10 columns">
      <div class="icon-bar two-up">
        <a class="item" href="/MedicalPictures/TechnicianViewManagePictures">
          <img src="./views/glyphicons/png/glyphicons_088_address_book.png">
          <label>{{'MANAGE_PICTURES'| translate}}
          </label>
        </a>
        <a class="item" href="/MedicalPictures/TechnicianViewAddPictures">
          <img src="./views/glyphicons/png/glyphicons_011_camera.png">
          <label><b>{{'ADD_NEW_PICTURES'| translate}}</b>
          </label>
        </a>
      </div>
    </div>
    <div class="large-1 columns">
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-2 columns">
      <br>
    </div>
    <div class="large-8 columns">
      <div ng-show="uploader.isHTML5">
        <!-- 3. nv-file-over uploader="link" over-class="className" -->
        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
          <h5 align="center"> {{'DROP_PICTURES_HERE'|translate}} </h5>
        </div>
      </div>
    </div>
    <div class="large-2 columns">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
      <br>
    </div>
    <div class="large-8 columns" align="center">
      <div id="alertMessageDiv">
        <div data-alert class="alert-box success radius">
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
    <div class="large-2 columns">
      <br>
    </div>
  </div>
  <br>
  <div ng-show="uploader.queue.length > 0">
    <div class="row">
      <div class="large-1 columns">
        <br>
      </div>
      <div class="large-10 columns">
        <div class="row">
          <div class="large-7 columns">
            <h3>{{'PICTURES_TO_UPLOAD' | translate}}</h3>
            <p>{{'AMOUNT' | translate}}: {{ uploader.queue.length}}</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="button" ng-click="uploadPictures()">Załaduj</a>
          </div>
        </div>
      </div>
      <div class="large-1 columns">
        <br>
      </div>
    </div>
    <div class="row">
      <div class="large-1 columns">
        <br>
      </div>
      <div class="large-10 columns">
        <div class="panel">
          <table>
            <thead>
              <tr>
                <th width="50%">{{'PREVIEW' | translate}}</th>
                <th width="50%">{{'FILE_NAME' | translate}}</th>
                <th ng-show="uploader.isHTML5">{{'SIZE' | translate}}</th>
                <th ng-show="uploader.isHTML5">{{'PATIENT' |translate}}</th>
                <th>{{'PICTURE_TYPE' | translate}}</th>
                <th>{{'BODY_PART' | translate}}</th>
                <th>{{'ACTIONS' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in uploader.queue">
                <td>
                  <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                </td>
                <td><strong>{{ item.file.name}}</strong>
                </td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024|number:2 }} kB</td>
                <td>
                  <!-- <select ng-options="patient for patient in allPatients" ng-model="item.selectedPatient" ng-init="selectedPatient = allPatients[0]" required>
										</select> -->
                  <a class="info label" data-reveal-id="myModalPatient" ng-init="item.selectedPatient=notSelected" ng-click="selectItemForPatient(item)">{{item.selectedPatient}}</a>
                </td>
                <td>
                  <a class="info label" data-reveal-id="myModalPictureType" ng-init="item.selectedPictureType=notSelected" ng-click="selectItemForPatient(item)">{{item.selectedPictureType}}</a>
                  <!-- <select ng-options="pictureType for pictureType in allPictureTypes" ng-model="item.selectedPictureType" ng-init="selectedPictureType = allPictureTypes[0]" required>
										</select> -->
                </td>
                <td>
                  <a class="info label" data-reveal-id="myModalBodyPart" ng-init="item.selectedBodyPart=notSelected" ng-click="selectItemForPatient(item)">{{item.selectedBodyPart}}</a>
                  <!-- <select ng-options="bodyPart for bodyPart in allBodyParts" ng-model="item.selectedBodyPart" ng-init="selectedBodyPart = allBodyParts[0]" required>
										</select> -->
                </td>
                <td nowrap>
                  <div data-magellan-expedition="fixed">
                    <dl class="sub-nav">
                      <dd data-magellan-arrival="build"><span class="error label"><a ng-click="item.remove()" href="#build" ng-disabled="item.isReady || item.isUploading || item.isSuccess">{{'REMOVE'|translate}}</a></span>
                      </dd>
                    </dl>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="large-1 columns">
        <br>
      </div>
    </div>
    <div id="myModalPatient" class="reveal-modal" data-reveal>
      <div class="row">
        <div class="large-2 columns">
          <br>
        </div>
        <div class="large-8 columns">
          <h3 align="center"><img src="./views/glyphicons/png/glyphicons_352_nameplate.png">

							{{ 'SELECT_PATIENT' |translate}}</h3>
        </div>
        <div class="large-2 columns">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <br>
        </div>
        <div class="large-8 columns">
          <label>{{'FILTER'|translate}}
            <input type="text" ng-model="searchPatient" />
          </label>
        </div>
        <div class="large-2 columns">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <br>
        </div>
        <div class="large-8 columns">
          <div class="panel">
            <table align="center">
              <thead>
                <tr>
                  <th>
                    <h5 align="center">{{'PATIENT' | translate}}
                  </h5>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="patient in allPatients | filter:searchPatient">
                  <td>
                    <div align="center">
                      <a class="info label" align="center" ng-click="selectPatientForPicture(patient)">{{patient}}</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="large-2 columns">
          <br>
        </div>
      </div>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="myModalBodyPart" class="reveal-modal" data-reveal>
      <div class="row">
        <div class="large-2 columns">
          <br>
        </div>
        <div class="large-8 columns">
          <h3 align="center"><img src="./views/glyphicons/png/glyphicons_352_nameplate.png">
							{{'SELECT_BODY_PART' |translate}}</h3>
        </div>
        <div class="large-2 columns">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <br>
        </div>
        <div class="large-8 columns">
          <label>{{'FILTER'|translate}}
            <input type="text" ng-model="searchBodyPart" />
          </label>
        </div>
        <div class="large-2 columns">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <br>
        </div>
        <div class="large-8 columns">
          <div class="panel">
            <table align="center">
              <thead>
                <tr>
                  <th>
                    <h5 align="center">{{'BODY_PART' | translate}}</h5>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="bodyPart in allBodyParts | filter:searchBodyPart">
                  <td>
                    <div align="center">
                      <a class="info label" ng-click="selectBodyPartForPicture(bodyPart)">{{bodyPart}}</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="large-2 columns">
          <br>
        </div>
      </div>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="myModalPictureType" class="reveal-modal" data-reveal>
      <div class="row">
        <div class="large-2 columns">
          <br>
        </div>
        <div class="large-8 columns">
          <h3 align="center"><img src="./views/glyphicons/png/glyphicons_352_nameplate.png">
							{{'SELECT_PICTURE_TYPE' |translate}}</h3>
        </div>
        <div class="large-2 columns">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <br>
        </div>
        <div class="large-8 columns">
          <label>{{'FILTER'|translate}}
            <input type="text" ng-model="searchPictureType" />
          </label>
        </div>
        <div class="large-2 columns">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <br>
        </div>
        <div class="large-8 columns">
          <div class="panel">
            <table align="center">
              <thead>
                <tr>
                  <th>
                    <h5 align="center">{{'PICTURE_TYPE' | translate}}</h5>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="pictureType in allPictureTypes | filter:searchPictureType">
                  <td>
                    <div align="center">
                      <a class="info label" ng-click="selectPictureTypeForPicture(pictureType)">{{pictureType}}</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="large-2 columns">
          <br>
        </div>
      </div>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
  <script src="./views/js/vendor/jquery.js"></script>
  <script src="./views/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>
