<html ng-app="MedicalPictures">

<head>
  <link rel="stylesheet" href="./views/css/foundation.css">
  <link rel="stylesheet" href="./views/css/normalize.css">
  <script src="./views/js/vendor/modernizr.js"></script>
  <script src="./views/angular/angular.js"></script>
  <script src="./views/angular/angular-translate.min.js"></script>
  <script src="./views/angular/angular-file-upload.js"></script>
  <script src="./views/angular/controllers/controllers.js"></script>
  <script src="./views/angular/controllers/internationalization.js"></script>
  <title>{{'ADMIN_VIEW_HEAD_NAME'| translate}}</title>
  <meta content="" charset="UTF-8">
  <style type="text/css">
    .panel {
      overflow: scroll;
      max-height: 400px;
    }
    input.ng-invalid {
      border: 2px solid red
    }
    .panel table {
      width: 100%
    }
    .panel {
      overflow: scroll;
      max-height: 400px;
    }
    .top-bar .name h1 {
      color: orange;
    }
    .top-bar .name h1 a {
      color: orange;
    }
    .top-bar .right li {
      color: orange;
    }
    .top-bar .right li b {
      color: yellow;
    }
    .icon-bar .item b {
      color: red;
    }
    td {
      border-top: solid 2px #F79F81;
      border-right: solid 2px #F79F81;
      border-left: solid 2px #F79F81;
      border-bottom: 2px solid #F79F81;
      /* or whatever specific values you prefer */
    }
    .my-modal {
      position: relative !important;
    }
    td a {
      margin: auto;
      display: block;
    }
    .icon-bar.four-up .item {
      height: 16%; }
  </style>
</head>

<body ng-controller="AdminViewManageUsersController">
  <br>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/MedicalPictures/AdminViewManageUsers">{{appName}}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#">{{'MENU'| translate}}</a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="name">
          <h1> {{'LOGGED_AS'| translate}} <b> {{loggedUsername}}</b></h1>
        </li>
        <li>
          <a href="/MedicalPictures/UserSettings">{{'SETTINGS'| translate}}</a>
        </li>
        <li class="active">
          <a href="#" ng-click="logoutUser()">{{'LOGOUT'| translate}}</a>
        </li>
      </ul>
    </section>
  </nav>
  <br>
  <div class="row">
    <div class="large-1 columns">
      <br>
    </div>
    <div class="large-10 columns">
      <div class="icon-bar four-up">
        <a class="item" href="/MedicalPictures/AdminViewManageUsers">
          <img src="./views/glyphicons/png/glyphicons_024_parents.png">
          <label><b>{{'MANAGE_USERS'| translate}}</b>
          </label>
        </a>
        <a class="item" href="/MedicalPictures/AdminViewManageBodyParts">
          <img src="./views/glyphicons/png/glyphicons_012_heart.png">
          <label>{{'MANAGE_BODY_PARTS'| translate}}</label>
        </a>
        <a class="item" href="/MedicalPictures/AdminViewManagePictureTypes">
          <img src="./views/glyphicons/png/glyphicons_047_camera_small.png">
          <label>{{'MANAGE_PICTURE_TYPES'| translate}}</label>
        </a>
        <a class="item" href="/MedicalPictures/AdminViewManageDefinedPictureDescriptions">
          <img src="./views/glyphicons/png/glyphicons_138_picture.png">
          <label>{{'MANAGE_DEFINFED_PICTURE_DESCRIPTIONS'| translate}}</label>
        </a>
      </div>
    </div>
    <div class="large-1 columns">
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-2 columns">
      <br>
    </div>
    <div class="large-8 columns">
      <div class="icon-bar four-up">
        <a class="item" href="/MedicalPictures/AdminViewAddUser">
          <img src="./views/glyphicons/png/glyphicons_006_user_add.png">
          <label>{{'ADD_NEW_USER'| translate}}</label>
        </a>
        <a class="item" href="" ng-click="deleteUsersClicked()">
          <img src="./views/glyphicons/png/glyphicons_007_user_remove.png">
          <label>{{'DELETE_USER'| translate}}</label>
        </a>
        <a class="item" href="" ng-click="markAllUsersClicked()">
          <img src="./views/glyphicons/png/glyphicons_152_check.png">
          <label>{{'MARK_ALL'| translate}}</label>
        </a>
        <a class="item" href="" ng-click="unmarkAllUsersClicked()">
          <img src="./views/glyphicons/png/glyphicons_153_unchecked.png">
          <label>{{'UNMARK_ALL'| translate}}</label>
        </a>
      </div>
    </div>
    <div class="large-2 columns">
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-2 columns">
      <br>
    </div>
    <div class="large-8 columns" align="center">
      <div id="alertMessageDiv">
        <div data-alert class="alert-box success radius">
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
    <div class="large-2 columns">
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-2 columns">
      <br>
    </div>
    <div class="large-8 columns">
      <label>{{'FILTER'|translate}}
        <input type="text" ng-model="userFilter" />
      </label>
    </div>
    <div class="large-2 columns">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="large-1 columns">
      <br>
    </div>
    <div class="large-10 columns">
      <div class="panel">
        <table>
          <thead>
            <tr>
              <th>
                <h6>{{'USERNAME'| translate}}</h6>
              </th>
              <th>
                <h6>{{'ACCOUNT_TYPE'| translate}}</h6>
              </th>
              <th>
                <h6>{{'EDIT' | translate}}</h6>
              </th>
              <th>
                <h6>{{'CHECK' | translate}}</h6>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in usernamesList | filter:userFilter">
              <td><b>{{user.username}}</b>
              </td>
              <td><b>{{user.accountType}}</b>
              </td>
              <td><a data-reveal-id="myModal" ng-click="editUserClicked(user.username)" class="button tiny">{{'EDIT' |translate}}</a> </td>
              <td>
                <fieldset class="switch" ng-show="user.username!=loggedUsername">
                  <input id="{{user.username}}" type="checkbox" />
                  <label for="{{user.username}}"></label>
                </fieldset>
              </td>
              <hr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="large-1 columns">
      <br>
    </div>
  </div>
  <div id="myModal" class="reveal-modal" data-reveal>
    <div class="row">
      <div class="large-2 columns">
        <br>
      </div>
      <div class="large-8 columns">
        <h3><img src="./views/glyphicons/png/glyphicons_352_nameplate.png">
                                    {{ 'MODIFY_USER' |translate}}</h3>
      </div>
      <div class="large-2 columns">
        <br>
      </div>
    </div>
    <br>
    <form>
      <div class="row">
        <div class="large-6 columns">
          <label>{{'USERNAME_NAME' | translate}}</label>
          <input type="email" placeholder="" ng-model="editingUsername" required readonly ng-maxlength="maxUsernameLength" />
        </div>
        <div class="large-6 columns">
          <label>{{'RESET_PASSWORD' |translate }}</label>
          <div class="switch round large">
            <input id="{{resetPasswordCheckbox}}" type="checkbox">
            <label for="{{resetPasswordCheckbox}}"></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>{{'NAME' | translate}}</label>
          <input type="text" placeholder="" ng-model="editingName" ng-maxlength="maxNameSurnameLength" required ng-pattern="nameRegexpPattern" />
        </div>
        <div class="large-6 columns">
          <label>{{'SURNAME' |translate }}</label>
          <input type="text" placeholder="" ng-model="editingSurname" ng-maxlength="maxNameSurnameLength" required ng-pattern="nameRegexpPattern" />
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns" ng-show="editingUsername != loggedUsername">
          <label>{{'ACCOUNT_TYPE' | translate }}</label>
          <select ng-options="account for account in accountTypes" ng-model="editingSelectedAccountType">
          </select>
        </div>
        <div class="large-4 columns">
          <label>{{'AGE' | translate }}</label>
          <input type="number" placeholder="" ng-model="editingAge" required ng-min="minAge" ng-max="maxAge" />
        </div>
        <div class="large-4 columns">
          <label>{{'APPLICATION_LANGUAGE' | translate }}</label>
          <select ng-options="language  for language in applicationLanguages" ng-model="editingSelectedLanguage">
          </select>
        </div>
      </div>
      <div class="row" ng-show="editingSelectedAccountType==='DOCTOR' ">
        <div class="large-12 columns">
          <label>{{'SPECIALIZATION' | translate }}</label>
          <input type="text" placeholder="" ng-model="editingSpecialization" ng-maxlength="maxNameSurnameLength" required ng-pattern="nameRegexpPattern" />
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <br>
        </div>
        <div class="large-8 columns" align="center">
          <input type="submit" id="submit" ng-click="saveEditedUserClicked()" class="button" value="{{'UPDATE_USER'| translate}}">
        </div>
        <div class="large-2 columns">
          <br>
        </div>
      </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <script src="./views/js/vendor/jquery.js"></script>
  <script src="./views/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>
